
<template>
  <div>
    <nav>
      <div class="nav-wrapper red darken-1">
        <a href="#" class="brand-logo center">Nofaro Front</a>
      </div>
    </nav>

    <div class="container">
      <table>
        <thead>
          <h1 style="color:red">Lista de pessoas</h1>
          <b-button variant="danger" v-b-modal.modal-1>+ Adicionar Perfil</b-button>

          <b-modal id="modal-1" title="Adicionar Perfil" hide-footer>
            <div>
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group id="input-group-1" label="Nome:" label-for="input-1">
                  <b-form-input
                    id="input-1"
                    v-model="form.name"
                    required
                    placeholder="Digite o nome"
                  ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Email" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    v-model="form.email"
                    type="email"
                    required
                    placeholder="Digite o email"
                  ></b-form-input>
                </b-form-group>
                <b-button type="submit" variant="primary">Submit</b-button>
                <b-button type="reset" variant="danger">Reset</b-button>
              </b-form>
            </div>
          </b-modal>

          <b-modal id="modal-2" title="Editar Perfil"  hide-footer>
            <div>
              <b-form @submit="editar" @reset="onReset" v-if="show">
                <b-form-group id="input-group-1" label="Nome:" label-for="input-1">
                  <b-form-input
                    id="input-1"
                    v-model="form.name"
                    required
                    placeholder="Digite o nome"
                  ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Email" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    v-model="form.email"
                    type="email"
                    required
                    placeholder="Digite o email"
                  ></b-form-input>
                </b-form-group>

                <b-button type="submit" variant="primary">Submit</b-button>
                <b-button type="reset" variant="danger">Reset</b-button>
              </b-form>
            </div>
          </b-modal>
          <tr>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>OPÇÕES</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="todo in todos" :key="todo.id">
            <td>{{ todo.name}}</td>
            <td>{{ todo.email }}</td>
            <td>
              <b-button
                @click="editarHandle(todo)"
                variant="danger"
                v-b-modal.modal-2
                class="waves-effect btn-small blue darken-1"
              >
                <i class="material-icons">create</i>
              </b-button>

              <button @click="deletar(todo)" class="waves-effect btn-small red darken-1">
                <i class="material-icons">delete_sweep</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      todos: null,
      handle: null,
      showModal: false,
      form: {
        name: "",
        email: ""
      },
      show: true
    };
  },
  mounted() {
    this.getTodos();
  },
  methods: {
    getTodos() {
      axios
        .get("http://5c9d09be3be4e30014a7d331.mockapi.io/nofaro/api/v1/person")
        .then(response => {
          this.todos = response.data;
          this.todos.sort((t1, t2) =>
            t1.name.charAt(0).toUpperCase() + t1.name.slice(1) <
            t2.name.charAt(0).toUpperCase() + t2.name.slice(1)
              ? -1
              : 1
          );
        })
        .catch(e => console.log(e));
    },
    deletar(todo) {
      axios
        .delete(
          "http://5c9d09be3be4e30014a7d331.mockapi.io/nofaro/api/v1/person/" +
            todo.id
        )
        .then(response => {
          this.todos = response.data;
        })
        .catch(e => console.log(e));
    },
    onSubmit() {
      axios
        .post(
          "http://5c9d09be3be4e30014a7d331.mockapi.io/nofaro/api/v1/person",
          {
            avatar:
              "https://s3.amazonaws.com/uifaces/faces/twitter/toddrew/128.jpg",
            createAt: "2019-09-29T17:27:24.291Z",
            email: this.form.email,
            name: this.form.name
          }
        )
        .then(response => {
          this.todos = response.data;
        })
        .catch(e => console.log(e));
    },
    editar() {
      axios
        .put(
          "http://5c9d09be3be4e30014a7d331.mockapi.io/nofaro/api/v1/person/" +
            this.handle.id,
          {
            avatar: this.handle.avatar,
            createAt: this.handle.createAt,
            email: this.form.email,
            name: this.form.name
          }
        )
        .then(response => {
          this.todos = response.data;
        })
        .catch(e => console.log(e));
      console.log(this.todos[4]);
    },
    editarHandle(todo) {
      this.handle = todo;
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.food = null;
      this.form.checked = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>

<style>
</style>